<footer id="about" xmlns:th="http://www.thymeleaf.org" class="page-footer" style="background-color:#5e35b1 !important;" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text" th:text="#{ams}">Article Management System</h5>
                <p class="grey-text text-lighten-4">Version 2.0</p>
                <p class="grey-text text-lighten-4">Siem Reap class</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">About Me</h5>
                <p class="grey-text text-lighten-4"><b>Chhaileng Peng</b> - IT Instructor, Web Developer, iOS Developer, Penetration Tester, Ethicle Hacker, Security Researcher</p>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://www.chhaileng.com" target="_blank"><i class="material-icons left">mail</i>Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright AMS - Chhaileng Peng
            <a class="grey-text text-lighten-4 right" href="https://www.chhaileng.com" target="_blank">Developer Website</a>
        </div>
    </div>
</footer>