<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Article Management System</title>
<style>
	table, tr,td,th {
		border: 1px solid black;
		border-collapse: collapse;
	}
</style>
</head>
<body>
	<h1>Article List</h1>
	<h2><a href="/add">Add new</a></h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Author</th>
			<th>Created Date</th>
			<th>Action</th>
		</tr>
		<tr th:each="article : ${articles}" th:object="${article}">
			<td th:text="*{id}">ID</td>
			<td th:text="*{name}">Name</td>
			<td th:text="*{description}">Description</td>
			<td th:text="*{author}">Author</td>
			<td th:text="*{createdDate}">Created Date</td>
			<td><a th:href="@{/delete/{id}(id=*{id})}">Delete</a></td>
		</tr>
	</table>
</body>
</html>